docs/n8n-workflows/metrics-daily-cron.json
{
  "name": "LIVIA — Gerar metrics_daily",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Diariamente às 03:00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LIVIA_APP_URL }}/api/admin/metrics/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cron-secret",
              "value": "={{ $env.LIVIA_CRON_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-generate",
      "name": "Gerar métricas de ontem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-ok",
      "name": "Sucesso?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "message": "✅ metrics_daily gerado: {{ $('Gerar métricas de ontem').item.json.result.date }} — {{ $('Gerar métricas de ontem').item.json.result.tenants_processed }} tenants processados"
      },
      "id": "log-success",
      "name": "Log sucesso",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 220]
    },
    {
      "parameters": {
        "message": "❌ Erro ao gerar metrics_daily: {{ $json.error }}"
      },
      "id": "log-error",
      "name": "Log erro",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Diariamente às 03:00 UTC": {
      "main": [
        [
          {
            "node": "Gerar métricas de ontem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar métricas de ontem": {
      "main": [
        [
          {
            "node": "Sucesso?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sucesso?": {
      "main": [
        [
          {
            "node": "Log sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "livia"
  },
  "tags": ["livia", "cron", "metrics"]
}
